In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('developer_survey_2020/survey_results_public.csv')

In [3]:
df.shape

(64461, 61)

In [4]:
df.info

<bound method DataFrame.info of        Respondent                                         MainBranch Hobbyist  \
0               1                     I am a developer by profession      Yes
1               2                     I am a developer by profession       No
2               3                        I code primarily as a hobby      Yes
3               4                     I am a developer by profession      Yes
4               5  I used to be a developer by profession, but no...      Yes
...           ...                                                ...      ...
64456       64858                                                NaN      Yes
64457       64867                                                NaN      Yes
64458       64898                                                NaN      Yes
64459       64925                                                NaN      Yes
64460       65112                                                NaN      Yes

        Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0       NaN         13  Monthly        NaN            NaN             Germany
1       NaN         19      NaN        NaN            NaN      United Kingdom
2       NaN         15      NaN        NaN            NaN  Russian Federation
3      25.0         18      NaN        NaN            NaN             Albania
4      31.0         16      NaN        NaN            NaN       United States
...     ...        ...      ...        ...            ...                 ...
64456   NaN         16      NaN        NaN            NaN       United States
64457   NaN        NaN      NaN        NaN            NaN             Morocco
64458   NaN        NaN      NaN        NaN            NaN            Viet Nam
64459   NaN        NaN      NaN        NaN            NaN              Poland
64460   NaN        NaN      NaN        NaN            NaN               Spain

         CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0       European Euro  ...  Neither easy nor difficult  Appropriate in length
1      Pound sterling  ...                         NaN                    NaN
2                 NaN  ...  Neither easy nor difficult  Appropriate in length
3        Albanian lek  ...                         NaN                    NaN
4                 NaN  ...                        Easy              Too short
...               ...  ...                         ...                    ...
64456             NaN  ...                         NaN                    NaN
64457             NaN  ...                         NaN                    NaN
64458             NaN  ...                         NaN                    NaN
64459             NaN  ...                         NaN                    NaN
64460             NaN  ...                         NaN                    NaN

      Trans                                     UndergradMajor  \
0        No  Computer science, computer engineering, or sof...
1       NaN  Computer science, computer engineering, or sof...
2       NaN                                                NaN
3        No  Computer science, computer engineering, or sof...
4        No  Computer science, computer engineering, or sof...
...     ...                                                ...
64456   NaN  Computer science, computer engineering, or sof...
64457   NaN                                                NaN
64458   NaN                                                NaN
64459   NaN                                                NaN
64460   NaN  Computer science, computer engineering, or sof...

            WebframeDesireNextYear                      WebframeWorkedWith  \
0                     ASP.NET Core                    ASP.NET;ASP.NET Core
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4             Django;Ruby on Rails                           Ruby on Rails
...                            ...                                     ...
64456                          NaN                                     NaN
64457                          NaN                                     NaN
64458                          NaN                                     NaN
64459  Angular;Angular.js;React.js                                     NaN
64460          ASP.NET Core;jQuery  Angular;Angular.js;ASP.NET Core;jQuery

                                  WelcomeChange WorkWeekHrs YearsCode  \
0       Just as welcome now as I felt last year        50.0        36
1      Somewhat more welcome now than last year         NaN         7
2      Somewhat more welcome now than last year         NaN         4
3      Somewhat less welcome now than last year        40.0         7
4       Just as welcome now as I felt last year         NaN        15
...                                         ...         ...       ...
64456                                       NaN         NaN        10
64457                                       NaN         NaN       NaN
64458                                       NaN         NaN       NaN
64459                                       NaN         NaN       NaN
64460                                       NaN         NaN       NaN

           YearsCodePro
0                    27
1                     4
2                   NaN
3                     4
4                     8
...                 ...
64456  Less than 1 year
64457               NaN
64458               NaN
64459               NaN
64460               NaN

[64461 rows x 61 columns]>

In [5]:
pd.set_option('display.max_columns', 61)

In [6]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [7]:
df_schema = pd.read_csv('developer_survey_2020/survey_results_schema.csv')
df_schema.shape

(61, 2)

In [8]:
pd.set_option('display.max_rows', 61)

In [9]:
df_schema

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
5,CompFreq,"Is that compensation weekly, monthly, or yearly?"
6,CompTotal,What is your current total compensation (salar...
7,ConvertedComp,Salary converted to annual USD salaries using ...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
11,DatabaseDesireNextYear,Which database environments have you done exte...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
23,MiscTechDesireNextYear,"Which other frameworks, libraries, and tools h..."
24,MiscTechWorkedWith,"Which other frameworks, libraries, and tools h..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
27,NEWDevOps,Does your company have a dedicated DevOps person?
28,NEWDevOpsImpt,How important is the practice of DevOps to sca...
29,NEWEdImpt,"How important is a formal education, such as a..."
30,NEWJobHunt,"In general, what drives you to look for a new ..."
31,NEWJobHuntResearch,"When job searching, how do you learn more abou..."
32,NEWLearn,How frequently do you learn a new language or ...
33,NEWOffTopic,Do you think Stack Overflow should relax restr...
34,NEWOnboardGood,Do you think your company has a good onboardin...
35,NEWOtherComms,Are you a member of any other online developer...
36,NEWOvertime,How often do you work overtime or beyond the f...
37,NEWPurchaseResearch,"When buying a new tool or software, how do you..."
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
42,OrgSize,Approximately how many people are employed by ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
45,PurchaseWhat,"What level of influence do you, personally, ha..."
46,Sexuality,"Which of the following describe you, if any? P..."
47,SOAccount,Do you have a Stack Overflow account?
48,SOComm,Do you consider yourself a member of the Stack...
49,SOPartFreq,How frequently would you say you participate i...
50,SOVisitFreq,How frequently would you say you visit Stack O...
51,SurveyEase,How easy or difficult was this survey to compl...
52,SurveyLength,How do you feel about the length of the survey...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
55,WebframeDesireNextYear,Which web frameworks have you done extensive d...
56,WebframeWorkedWith,Which web frameworks have you done extensive d...
57,WelcomeChange,"Compared to last year, how welcome do you feel..."
58,WorkWeekHrs,"On average, how many hours per week do you wor..."
59,YearsCode,"Including any education, how many years have y..."
60,YearsCodePro,"NOT including education, how many years have y..."

In [10]:
people = {
    'name': [],
    'email': [],
    'number': []
}

In [11]:
from random import randint

names = ['Aaron', 'Bryan', 'Charles']

for name in names:
    people['name'].append(name)
    people['email'].append('{}@mail.com'.format(name.lower()))
    people['number'].append(randint(90000000,99999999))

In [12]:
people

{'name': ['Aaron', 'Bryan', 'Charles'],
 'email': ['aaron@mail.com', 'bryan@mail.com', 'charles@mail.com'],
 'number': [93953482, 94722906, 99951268]}

In [13]:
df_people = pd.DataFrame(people)

In [14]:
df_people  # leftmost column is the index

      name             email    number
0    Aaron    aaron@mail.com  93953482
1    Bryan    bryan@mail.com  94722906
2  Charles  charles@mail.com  99951268

In [15]:
df_people['name']
# df_people.name
# does not work if column is names identically as an attribute or method of a dataframe, e.g. count

0      Aaron
1      Bryan
2    Charles
Name: name, dtype: object

In [16]:
type(df_people['name'])  # series: rows of data, of a single column (one-dimensional array)

pandas.core.series.Series

dataframe: rows and columns, container for multiple series objects (two-dimensions)

In [17]:
# access multiple columns by passing a list
df_people[['name','number']]

      name    number
0    Aaron  93953482
1    Bryan  94722906
2  Charles  99951268

In [18]:
df_people.columns

Index(['name', 'email', 'number'], dtype='object')

In [19]:
# get rows with iloc
df_people.iloc[0]  # interger location of first row (returns a series of the data)
# df_people.iloc[[0, 1]]  # same principle for multiple rows
# df_people.iloc[[0, 1], 2] # add an argument for column

name               Aaron
email     aaron@mail.com
number          93953482
Name: 0, dtype: object

In [20]:
# get rows with loc
df_people.loc[[0, 1], ['email', 'number']] # same syntax as iloc, but loc takes str
# columns display in order requested

            email    number
0  aaron@mail.com  93953482
1  bryan@mail.com  94722906

In [21]:
df['Country'].value_counts()

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Kiribati                1
Nauru                   1
Lesotho                 1
Saint Lucia             1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [22]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [23]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [24]:
df.loc[0]  # one person's entire survey response

Respondent                                                                      1
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                  50.0
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 0, dtype: object

In [25]:
df.loc[0, 'Hobbyist']

'Yes'

In [26]:
df.loc[[0,1,2], 'Country']

0               Germany
1        United Kingdom
2    Russian Federation
Name: Country, dtype: object

In [27]:
df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [28]:
df.loc[0:2, 'Hobbyist':'Country']  # slicing (without square brackets)

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
0,Yes,NaN,13,Monthly,NaN,NaN,Germany
1,No,NaN,19,NaN,NaN,NaN,United Kingdom
2,Yes,NaN,15,NaN,NaN,NaN,Russian Federation

indexes, range of integer identifiers by default, custom labels possible, unique indexes not compulsory

In [29]:
df_people

      name             email    number
0    Aaron    aaron@mail.com  93953482
1    Bryan    bryan@mail.com  94722906
2  Charles  charles@mail.com  99951268

In [30]:
df_people['email']

0      aaron@mail.com
1      bryan@mail.com
2    charles@mail.com
Name: email, dtype: object

In [31]:
df_people.set_index('email')

                     name    number
email
aaron@mail.com      Aaron  93953482
bryan@mail.com      Bryan  94722906
charles@mail.com  Charles  99951268

In [32]:
df_people  # does not change dataframe, changes not made in place unless specified (free to experiment)

      name             email    number
0    Aaron    aaron@mail.com  93953482
1    Bryan    bryan@mail.com  94722906
2  Charles  charles@mail.com  99951268

In [33]:
df_people.set_index('email', inplace=True)

In [34]:
df_people

                     name    number
email
aaron@mail.com      Aaron  93953482
bryan@mail.com      Bryan  94722906
charles@mail.com  Charles  99951268

In [35]:
df_people.index

Index(['aaron@mail.com', 'bryan@mail.com', 'charles@mail.com'], dtype='object', name='email')

In [36]:
# now, find a row by using the new index (email), integers will no longer work
df_people.loc['aaron@mail.com']

name         Aaron
number    93953482
Name: aaron@mail.com, dtype: object

In [37]:
df_people.reset_index(inplace=True)  # reset index

In [38]:
df_people

              email     name    number
0    aaron@mail.com    Aaron  93953482
1    bryan@mail.com    Bryan  94722906
2  charles@mail.com  Charles  99951268

In [39]:
# set index on import
df_new = pd.read_csv('developer_survey_2020/survey_results_public.csv', index_col='Respondent')

In [40]:
df_new.head(3)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

In [41]:
df_new.loc[1]

MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                  50.0
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 1, dtype: object

In [42]:
# easy way to lookup schema
df_schema_new = pd.read_csv('developer_survey_2020/survey_results_schema.csv', index_col='Column')

In [43]:
df_schema_new

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [44]:
query = 'YearsCode'
df_schema_new.loc[query, 'QuestionText']  # to prevent truncation, insert column

'Including any education, how many years have you been coding in total?'

In [45]:
df_schema_new.sort_index()  # possible: 'ascending=False', 'inplace=True'

                                                                   QuestionText
Column
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
Hobbyist                                                Do you code as a hobby?
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MainBranch                    Which of the following options best describes ...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Respondent                    Randomized respondent ID number (not in order ...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
Sexuality                     Which of the following describe you, if any? P...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [46]:
df_people['name'] == 'Bryan'  # filter mask
# needs to be applied to a data frame for intended effect, returning matching rows

0    False
1     True
2    False
Name: name, dtype: bool

In [47]:
filtr = (df_people['name'] == 'Bryan')
# assign to variable, 'filter' is a keyword
# wrap in parentheses for readability

In [48]:
df_people[filtr]  # square brackets

            email   name    number
1  bryan@mail.com  Bryan  94722906

In [49]:
# less readable alternative
df_people[(df_people['name'] == 'Bryan')]

            email   name    number
1  bryan@mail.com  Bryan  94722906

In [50]:
df_people.loc[filtr]

            email   name    number
1  bryan@mail.com  Bryan  94722906

In [51]:
df_people.loc[filtr, 'email']

1    bryan@mail.com
Name: email, dtype: object

In [52]:
# and &
# or |

In [53]:
# filtr = (df_people['name'] == 'Doe') & (...)

In [54]:
# opposite of filter, truth tables?
df_people.loc[~filtr]

              email     name    number
0    aaron@mail.com    Aaron  93953482
2  charles@mail.com  Charles  99951268

In [55]:
filt = (df['Country'] == 'Singapore')

In [56]:
df.loc[filt, ['ConvertedComp']]

       ConvertedComp
2464         41736.0
4649             NaN
4893        107573.0
4970             NaN
5001       1000000.0
...              ...
61944            NaN
62212        38724.0
62528            NaN
62728            NaN
64267            NaN

[228 rows x 1 columns]

In [57]:
high_salary_sg = (df['ConvertedComp'] > 100000) & (df['Country'] == 'Singapore')

In [58]:
df.loc[high_salary_sg]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4893,4911,I am a developer by profession,Yes,31.0,11,Yearly,150000.0,107573.0,Singapore,Singapore dollar,SGD,Elasticsearch;PostgreSQL,Elasticsearch;PostgreSQL,"Developer, back-end;Developer, full-stack;DevO...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Southeast Asian,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,I am actively looking for a job,Go;JavaScript;Python;Scala,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Apache Spark;Node.js;Pandas,Apache Spark;Node.js;Pandas,Github;Gitlab;Slack,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,No,Extremely important,Fairly important,Having a bad day (or week or month) at work;Cu...,"Read company media, such as employee blogs or ...",Every few months,Not sure,No,Yes,Rarely: 1-2 days per year or less,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Linux-based,500 to 999 employees,AWS;Docker;Google Cloud Platform;Kubernetes;Linux,AWS;Docker;Google Cloud Platform;Kubernetes;Linux,I have little or no influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,45.0,12,6
5001,5020,I am a developer by profession,Yes,28.0,10,Monthly,140000.0,1000000.0,Singapore,Singapore dollar,SGD,Elasticsearch;PostgreSQL,NaN,Data scientist or machine learning specialist;...,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Julia;Python;Rust;SQL,Bash/Shell/PowerShell;C++;Python;Rust;SQL,Pandas;Torch/PyTorch,Ansible;Keras;Pandas;TensorFlow;Torch/PyTorch,Confluence;Jira;Github;Microsoft Teams,Confluence;Jira;Github;Microsoft Teams,Not sure,Extremely important,Fairly important,Curious about other opportunities;Trouble with...,"Read company media, such as employee blogs or ...",Every few months,No,No,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Read ratings or reviews on ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Visit Stack Overflow;Go for a walk or...,Linux-based,"10,000 or more employees",AWS;Docker;Linux,AWS;Docker;Linux,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Flask,Flask,Just as welcome now as I felt last year,50.0,17,7
6343,6369,I am a developer by profession,Yes,33.0,18,Monthly,13000.0,111876.0,Singapore,Singapore dollar,SGD,Cassandra;Elasticsearch;MongoDB;PostgreSQL,Couchbase;Elasticsearch;MongoDB;Oracle,"Developer, full-stack;Engineering manager","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,Flex time or a flexible schedule;Specific depa...,Neither satisfied nor dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript;Kotlin;TypeScript,Bash/Shell/PowerShell;Java;JavaScript;Kotlin;P...,Apache Spark;React Native,Node.js,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Confluence;Jira;Github;Gitlab,Yes,Extremely important,Fairly important,Better compensation;Trouble with leadership at...,Company reviews from third party sites (e.g. G...,Every few months,No,No,Yes,Sometimes: 1-2 days per month but less than we...,Start a free trial;Visit developer communities...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Windows,"5,000 to 9,999 employees",AWS;Docker;Kubernetes;MacOS;Windows,Linux;Windows,I have some influence,Straight / Heterosexual,Yes,Neutral,Less than once per month or monthly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring,Angular.js;React.js;Spring,Just as welcome now as I felt last year,40.0,16,12
6364,6391,I am a developer by profession,Yes,NaN,14,Yearly,240000.0,172117.0,Singapore,Singapore dollar,SGD,NaN,DynamoDB;MongoDB;MySQL;PostgreSQL;Redis;SQLite,Senior executive/VP,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Financial performance or funding status of the...,Very satisfied,I am not interested in new job opportunities,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,NaN,Node.js;React Native;Teraform,NaN,"Jira;Github;Gitlab;Slack;Google Suite (Docs, M...",Yes,Extremely important,Somewhat important,Curious about other opportunities,"Read other media like news articles, founder p...",Every few months,No,Yes,Yes,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow,MacOS,"1,000 to 4,999 employees",NaN,Android;AWS;Docker;Google Cloud Platform;iOS;K...,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Laravel;React.js;Vue.js,NaN,45.0,35,30
11630,11668,I am a developer by profession,Yes,30.0,21,Yearly,300000.0,300000.0,Singapore,United States dollar,USD,MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,"Developer, front-end;Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Southeast Asian,Man,How widely used or impactful my work output wo...,Slightly satisfied,"I’m not actively looking, but I am open to new...",Haskell;HTML/CSS;JavaScript;PHP;Python;Rust;Ty...,HTML/CSS;JavaScript;PHP;Python;TypeScript,Node.js;React Native,Node.js,"Github;Facebook Workplace;Google Suite (Docs, ...","Github;Facebook Workplace;Google Suite (Docs, ...",Yes,Extremely important,Very important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Yes,Yes,Yes,Sometimes: 1-2 days per month but less than we...,NaN,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,MacOS,"10,000 or more employees",MacOS,Google Cloud Platform;MacOS,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Daily or almost daily,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,40.0,9,4
20697,20778,I am a developer by profession,Yes,33.0,10,Yearly,150000.0,107573.0,Singapore,Singapore dollar,SGD,Redis,Elasticsearch;Firebase;MySQL;SQLite,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian;Southeast Asian,Man,"Languages, frameworks, and other technologies ...",Very satisfied,"I’m not actively looking, but I am open to new...",Rust;TypeScript,Bash/Shell/PowerShell;C#;Go;HTML/CSS;Java;Java...,TensorFlow;Torch/PyTorch,Node.js;React Native;Unity 3D,NaN,Github;Facebook Workplace;Slack;Google Suite (...,Yes,Extremely important,Fairly important,Curious about other opportunities;Wanting to w...,Company reviews from third party sites (e.g. G...,Once a year,NaN,Yes,Yes,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Do other work ...,MacOS,"10,000 or more employees",Docker;Raspberry Pi,Android;AWS;Google Cloud Platform;iOS;Linux,I have some influence,Straight / Heterosexual,Yes,Neutral,Less than once per month or monthly,A few times per month or weekly,Easy,Appropriate in length,No,"Information systems, information technology, o...",NaN,Express;React.js,Just as welcome now as I felt last year,40.0,20,10
26000,26095,I am a developer by profession,Yes,30.0,14,Yearly,162500.0,116538.0,Singapore,Singapore dollar,SGD,Cassandra;Couchbase,Elasticsearch;Microsoft SQL Server;Redis,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian,Man,"Languages, frameworks, and other technologies ...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",Go;Scala,C#;SQL,NaN,NaN,Github;Slack,Confluence;Jira;Gitlab;Slack,Yes,Extremely important,Very important,Curious about other opportunities;Wanting to w...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,AWS;Google Cloud Platform;Kubernetes;Linux;MacOS,Google Cloud Platform;Kubernetes;MacOS,I have some influence,Straight / Heterosexual,Yes,Neutral,Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,ASP.NET Core,Just as welcome now as I felt last year,36.0,15,8
28365,28471,I am a developer by profession,Yes,29.0,14,Monthly,12000.0,103272.0,Singapore,Singapore dollar,SGD,Microsoft SQL Server;Redis,DynamoDB;Elasticsearch;Microsoft SQL Server;Redis,"Developer, back-end;DevOps specialist;Engineer...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very dissatisfied,"I’m not actively looking, but I am open to new...",C#;Rust;TypeScript,Bash/Shell/PowerShell;C#;JavaScript;SQL;TypeSc...,.NET Core,.NET;.NET Core;Node.js,Github;Slack;Microsoft Teams;Microsoft Azure;G...,Confluence;Jira;Github;Slack;Microsoft Azure;G...,No,Extremely important,Fairly important,Growth or leadership opportunities,"Read company media, such as employee blogs or ...",Once a year,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Do other work and come ba...,Windows,100 to 499 employees,AWS;Microsoft Azure,AWS;Docker;Microsoft Azure;Slack Apps and Inte...,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core;Express,Just as welcome now as I felt last year,50.0,15,9
28619,28726,I am a developer by profession,No,36.0,16,Monthly,84000.0,722892.0,Singapore,Singapore dollar,SGD,MongoDB;PostgreSQL;Redis,MySQL,"Developer, front-end;Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian,Man,Diversity of the company or organization;Offic...,Neither satisfied nor dissatisfied,"I’m not actively looking, but I am open to new...",Dart;Go;HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;PHP;TypeScript,Flutter;Node.js;React Native,Node.js;React Native,Confluence;Github;Slack;Microsoft Teams;Google...,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Somewhat important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,Yes,Yes,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,MacOS,20 to 99 employees,AWS;Microsoft Azure,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,jQuery;React.js,A lot more welcome now than last year,40.0,20,12
28910,29019,"I am not primarily a developer, but I write co...",Yes,38.0,8,Monthly,142000.0,1000000.0,Singapore,Singapore dollar,SGD,Cassandra;Elasticsearch;MongoDB,Elasticsearch;MariaDB;MySQL;PostgreSQL;Redis,Data scientist or machine learning specialist;...,Some college/university study without earning ...,Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly dissatisfied,I am actively looking for a job,Python;Swift,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Hadoop;Pandas;TensorFlow,Hadoop;Pandas;TensorFlow,Confluence;Jira;Github;Slack;Trello;Google Sui...,Confluence;Jira;Github;Facebook Workplace;Slac...,Yes,Extremely important,Not at all important/not necessary,Having a bad day (or week or month) at work;Be...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Annoyed,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Linux-based,"10,000 or more employees",Linux,AWS;Google Cloud Platform;Linux;Raspberry Pi,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,Easy,Too short,No,"Computer science, computer engineering, or sof...",Flask,Angular.js;jQuery,Somewhat less welcome now than last year,48.0,30,10
30109,30225,"I am not primarily a developer, but I write co...",Yes,46.0,20,Yearly,250000.0,179289.0,Singapore,Singapore dollar,SGD,PostgreSQL;SQLite,Microsoft SQL Server;Oracle;PostgreSQL;SQLite,"Developer, full-stack;DevOps specialist;Senior...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,Industry that I’d be working in;Financial perf...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;Python,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Ansible;Hadoop;Pandas,Ansible;Pandas,Jira;Github,Confluence;Jira;Github;Slack,Yes,Extremely important,Not at all important/not necessary,Better compensation;Wanting to work with new t...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,Onboarding? What onboarding?,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Watch help / tutorial vid...,Windows,"Just me - I am a freelancer, sole proprietor, ...",Docker;Heroku;Kubernetes;Linux;Windows,Heroku;Linux;Windows,NaN,NaN,No,"No, not at all",NaN,Daily or almost daily,Easy,Appropriate in length,No,"Information systems, information technology, o...",Django;jQuery,Django;jQuery;Ruby on Rails,Just as welcome now as I felt last year,40.0,10,9
30624,30741,"I am not primarily a developer, but I write co...",Yes,32.0,14,Yearly,160000.0,114745.0,Singapore,Singapore dollar,SGD,MongoDB,MongoDB;MySQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Southeast Asian,Man,"Industry that I’d be working in;Languages, fra...",Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;Java;JavaScript;Python,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,NaN,.NET Core;Node.js;Pandas,Confluence;Jira;Github;Gitlab;Google Suite (Do...,Confluence;Jira;Github;Gitlab;Google Suite (Do...,Yes,Extremely important,Somewhat important,Better compensation;Trouble with leadership at...,Personal network - friends or family;Read othe...,Once a year,No,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,MacOS,100 to 499 employees,AWS;Docker;Google Cloud Platform;Kubernetes;Li...,AWS;Docker;Google Cloud Platform;Kubernetes;Li...,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per week,A few times per week,Easy,Appropriate in length,No,"Information systems, information technology, o...",React.js;Spring,Angular;Angular.js;ASP.NET Core;Express;React....,Just as welcome now as I felt last year,44.0,13,6
40552,41161,I am a developer by profession,No,NaN,10,Monthly,120000.0,1000000.0,Singapore,Singapore dollar,SGD,NaN,NaN,"Developer, desktop or enterprise applications;...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Slightly satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,NaN,NaN,NaN,No,Yes,Yes,Often: 1-2 days per week or more,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,"10,000 or more employees",NaN,NaN,NaN,NaN,Yes,"Yes, definitely",A few times per week,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,16,11
41130,41781,I am a developer by profession,Yes,NaN,6,Yearly,300000.0,215146.0,Singapore,Singapore dollar,SGD,SQLite,SQLite,"Developer, back-end;Developer, desktop or ente...","Professional degree (JD, MD, etc.)",Employed full-time,NaN,NaN,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Haskell,C++;Haskell;Kotlin,NaN,NaN,Github,Github,Not sure,Somewhat important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,Not sure,No,Yes,Rarely: 1-2 days per year or less,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,"10,000 or more employees",Arduino;Linux;Windows,Android;Linux;Windows,NaN,NaN,Yes,Neutral,A few times per week,A few times per week,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,35.0,30,14
46065,47035,"I am not primarily a developer, but I write co...",Yes,57.0,20,Yearly,450000.0,450000.0,Singapore,United States dollar,USD,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,NaN,Very satisfied,I am not interested in new job opportunities,Python;R,R,NaN,NaN,Github,Github,Not sure,Somewhat important,Very important,NaN,NaN,Once a decade,No,Yes,Yes,Often: 1-2 days per week or more,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow,Windows,100 to 499 employees,Windows,Windows,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per week,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",NaN,NaN,Just as welcome now as I felt last year,55.0,3,2

In [59]:
df.loc[high_salary_sg, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
4893,Singapore,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,107573.0
5001,Singapore,Bash/Shell/PowerShell;C++;Python;Rust;SQL,1000000.0
6343,Singapore,Bash/Shell/PowerShell;Java;JavaScript;Kotlin;P...,111876.0
6364,Singapore,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,172117.0
11630,Singapore,HTML/CSS;JavaScript;PHP;Python;TypeScript,300000.0
20697,Singapore,Bash/Shell/PowerShell;C#;Go;HTML/CSS;Java;Java...,107573.0
26000,Singapore,C#;SQL,116538.0
28365,Singapore,Bash/Shell/PowerShell;C#;JavaScript;SQL;TypeSc...,103272.0
28619,Singapore,HTML/CSS;JavaScript;PHP;TypeScript,722892.0
28910,Singapore,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,1000000.0
30109,Singapore,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,179289.0
30624,Singapore,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,114745.0
40552,Singapore,NaN,1000000.0
41130,Singapore,C++;Haskell;Kotlin,215146.0
46065,Singapore,R,450000.0
47426,Singapore,C#,129088.0
47483,Singapore,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL,143431.0
47517,Singapore,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,116896.0
47555,Singapore,Java;Python;Scala,121199.0
49368,Singapore,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP,154908.0
51407,Singapore,Go;Python;Rust,125502.0
60729,Singapore,Go;Rust;SQL,157774.0

In [60]:
countries = ['Singapore', 'United States']
filt = df['Country'].isin(countries)

In [61]:
df.loc[filt, 'Country']

4        United States
7        United States
13       United States
16       United States
17       United States
             ...
64413    United States
64417    United States
64428    United States
64443    United States
64456    United States
Name: Country, Length: 12697, dtype: object

In [62]:
df['LanguageWorkedWith']

0                                   C#;HTML/CSS;JavaScript
1                                         JavaScript;Swift
2                                 Objective-C;Python;Swift
3                                                      NaN
4                                        HTML/CSS;Ruby;SQL
                               ...
64456                                                  NaN
64457    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64458                                                  NaN
64459                                             HTML/CSS
64460                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [63]:
high_salary = (df['ConvertedComp'] > 100000)

In [64]:
# show columns
df_people.columns

Index(['email', 'name', 'number'], dtype='object')

In [65]:
# rename all columns
df_people.columns = ['email', 'full_name', 'contact no.']

In [66]:
df_people

              email full_name  contact no.
0    aaron@mail.com     Aaron     93953482
1    bryan@mail.com     Bryan     94722906
2  charles@mail.com   Charles     99951268

In [67]:
df_people.columns = [x.upper() for x in df_people.columns]

In [68]:
df_people

              EMAIL FULL_NAME  CONTACT NO.
0    aaron@mail.com     Aaron     93953482
1    bryan@mail.com     Bryan     94722906
2  charles@mail.com   Charles     99951268

In [69]:
df_people.columns = [x.lower() for x in df_people.columns]

In [70]:
df_people

              email full_name  contact no.
0    aaron@mail.com     Aaron     93953482
1    bryan@mail.com     Bryan     94722906
2  charles@mail.com   Charles     99951268

In [71]:
df_people.columns = df_people.columns.str.replace('_', ' ')

In [72]:
df_people

              email full name  contact no.
0    aaron@mail.com     Aaron     93953482
1    bryan@mail.com     Bryan     94722906
2  charles@mail.com   Charles     99951268

In [73]:
df_people.columns = df_people.columns.str.replace(' ', '_')

In [74]:
df_people

              email full_name  contact_no.
0    aaron@mail.com     Aaron     93953482
1    bryan@mail.com     Bryan     94722906
2  charles@mail.com   Charles     99951268

In [75]:
df_people.rename(columns={'full_name':'name', 'contact_no.':'contact'}, inplace=True)

In [76]:
df_people

              email     name   contact
0    aaron@mail.com    Aaron  93953482
1    bryan@mail.com    Bryan  94722906
2  charles@mail.com  Charles  99951268

In [77]:
df_people.loc[2]

email      charles@mail.com
name                Charles
contact            99951268
Name: 2, dtype: object

In [78]:
df_people.loc[2] = ['collin@mail.com', 'Collin', 9876354]

In [79]:
df_people

             email    name   contact
0   aaron@mail.com   Aaron  93953482
1   bryan@mail.com   Bryan  94722906
2  collin@mail.com  Collin   9876354

In [80]:
df_people.loc[2, ['contact']] = 9746352

In [81]:
df_people

             email    name   contact
0   aaron@mail.com   Aaron  93953482
1   bryan@mail.com   Bryan  94722906
2  collin@mail.com  Collin   9746352

In [82]:
df_people.loc[1, ['email','name']] = ['bob@mail.com', 'Bob']

In [83]:
df_people

             email    name   contact
0   aaron@mail.com   Aaron  93953482
1     bob@mail.com     Bob  94722906
2  collin@mail.com  Collin   9746352

In [84]:
# for single values
df_people.at[2, 'name'] = 'Bry' # why is it not deprecated yet?

In [85]:
df_people

             email   name   contact
0   aaron@mail.com  Aaron  93953482
1     bob@mail.com    Bob  94722906
2  collin@mail.com    Bry   9746352

In [86]:
filt = (df_people['name'] == 'Aaron')

In [87]:
df_people[filt] # lookup works

            email   name   contact
0  aaron@mail.com  Aaron  93953482

In [88]:
df_people[filt]['email']

0    aaron@mail.com
Name: email, dtype: object

In [89]:
# warning WithCopyWarning, the change was not made because pandas returned copy
# it was changed on the copy (a temp object)
# the intended change was not made
df_people[filt]['email'] = 'aar@mail.com'

/var/folders/m9/9yzfskbj7lv1shsb5chykf080000gn/T/ipykernel_11789/3482145042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_people[filt]['email'] = 'aar@mail.com'

In [90]:
df_people

             email   name   contact
0   aaron@mail.com  Aaron  93953482
1     bob@mail.com    Bob  94722906
2  collin@mail.com    Bry   9746352

In [91]:
df_people.loc[filt, 'email'] = 'aar@mail.com' # add .loc to fix it, don't ignore the warning

In [92]:
df_people

             email   name   contact
0     aar@mail.com  Aaron  93953482
1     bob@mail.com    Bob  94722906
2  collin@mail.com    Bry   9746352

In [93]:
# change all the names to uppercase
df_people['name'].str.lower() # this is not a change, just a preview

0    aaron
1      bob
2      bry
Name: name, dtype: object

In [94]:
df_people['email'] = df_people['email'].str.lower() # assigning it works to easily change the values

In [95]:
df_people

             email   name   contact
0     aar@mail.com  Aaron  93953482
1     bob@mail.com    Bob  94722906
2  collin@mail.com    Bry   9746352

apply, map, applymap, replace

In [96]:
# apply on series
df_people['email'].apply(len)

0    12
1    12
2    15
Name: email, dtype: int64

In [97]:
def clean_email(email):
    return email.lower()
# simple example

In [98]:
df_people['email'].apply(clean_email)

0       aar@mail.com
1       bob@mail.com
2    collin@mail.com
Name: email, dtype: object

In [99]:
# to apply on series
df_people['email'] = df_people['email'].apply(clean_email)

In [100]:
# with lambda function, works on series
df_people['email'] = df_people['email'].apply(lambda x: x.lower())

In [101]:
# to apply on dataframe
df_people['email'] = df_people['email'].apply(clean_email)

In [102]:
df_people.apply(len) # does not produce intended effect
# returns number of rows per column

email      3
name       3
contact    3
dtype: int64

In [103]:
df_people.apply(len, axis='columns') # does not produce intended effect
# to count columns instead

0    3
1    3
2    3
dtype: int64

In [104]:
df_people.apply(pd.Series.min) # min str, aplhabetical order
# as expected for numbers

email      aar@mail.com
name              Aaron
contact         9746352
dtype: object

In [105]:
df_people.apply(lambda x: x.min()) # contrived, df has min method
# useful with numpy

email      aar@mail.com
name              Aaron
contact         9746352
dtype: object

In [106]:
# apply on series works on each value
# apply on datafram works on each series
# apply to all - applymap

df_people['contact'] = df_people['contact'].apply(str)
df_people.applymap(len)

   email  name  contact
0     12     5        8
1     12     3        8
2     15     3        7

In [107]:
# df_people['name'].map({'Bob':'Bryan', 'Bry':'Charles'})
# this would make Aaron a NaN value, since it was not mapped

In [108]:
# to workaround this, use replace
df_people['name'].replace({'Bob':'Bryan', 'Bry':'Charles'})

0      Aaron
1      Bryan
2    Charles
Name: name, dtype: object

In [109]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)
# check before inplace True

In [110]:
df['SalaryUSD']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
64456   NaN
64457   NaN
64458   NaN
64459   NaN
64460   NaN
Name: SalaryUSD, Length: 64461, dtype: float64

In [111]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [112]:
# map yes to True, no to False

df['Hobbyist'].map({'Yes': True, 'No': False})

0         True
1        False
2         True
3         True
4         True
         ...
64456     True
64457     True
64458     True
64459     True
64460     True
Name: Hobbyist, Length: 64461, dtype: object

In [113]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

In [114]:
# number = int('abc')  # ValueError

In [115]:
print(df_people)

             email   name   contact
0     aar@mail.com  Aaron  93953482
1     bob@mail.com    Bob  94722906
2  collin@mail.com    Bry   9746352

In [116]:
# add columns - same as editing
df_people['full contact details'] = df_people['email'] + ', ' + df_people['contact']
df_people

             email   name   contact      full contact details
0     aar@mail.com  Aaron  93953482    aar@mail.com, 93953482
1     bob@mail.com    Bob  94722906    bob@mail.com, 94722906
2  collin@mail.com    Bry   9746352  collin@mail.com, 9746352

In [117]:
# remove columns
df_people = df_people.drop(columns=['email', 'contact'])  # or inplace=True
df_people

    name      full contact details
0  Aaron    aar@mail.com, 93953482
1    Bob    bob@mail.com, 94722906
2    Bry  collin@mail.com, 9746352

In [118]:
# split columns

df_people[['email', 'no.']] = df_people['full contact details'].str.split(', ', expand=True)
df_people.drop(columns=['full contact details'], inplace=True)
df_people

    name            email       no.
0  Aaron     aar@mail.com  93953482
1    Bob     bob@mail.com  94722906
2    Bry  collin@mail.com   9746352

In [119]:
# df_people.append({'name':'Charlie'})  # error without ignore_index=True

In [120]:
df_people.append({'name':'Charlie'}, ignore_index=True)

      name            email       no.
0    Aaron     aar@mail.com  93953482
1      Bob     bob@mail.com  94722906
2      Bry  collin@mail.com   9746352
3  Charlie              NaN       NaN

In [121]:
people = {
    'name': ['David', 'Elliot'],
    'email': ['david@gmail.com', 'elliot@gmail.com'],
    'no.': [21394857, 12395832]
}
df_people2 = pd.DataFrame(people)

In [122]:
df_people2

     name             email       no.
0   David   david@gmail.com  21394857
1  Elliot  elliot@gmail.com  12395832

In [123]:
df_people.append(df_people2, ignore_index=True)  # append does not have inplace=True, so use =
# sort=True is possible

     name             email       no.
0   Aaron      aar@mail.com  93953482
1     Bob      bob@mail.com  94722906
2     Bry   collin@mail.com   9746352
3   David   david@gmail.com  21394857
4  Elliot  elliot@gmail.com  12395832

In [124]:
# delete row
df_people.drop(index=2)  # inplace=True

    name         email       no.
0  Aaron  aar@mail.com  93953482
1    Bob  bob@mail.com  94722906

In [127]:
# drop if name matches
df_people.drop(index=df_people[df_people['name']=='Charlie'].index)

    name            email       no.
0  Aaron     aar@mail.com  93953482
1    Bob     bob@mail.com  94722906
2    Bry  collin@mail.com   9746352

In [130]:
# neater way
filt = df_people['name']=='Charlie'
df_people.drop(index=df_people[filt].index)

    name            email       no.
0  Aaron     aar@mail.com  93953482
1    Bob     bob@mail.com  94722906
2    Bry  collin@mail.com   9746352